{% extends 'base.html' %}

{% block content %}
<h1>Text Query Interface</h1>
<form method="post" action="{{ url_for('text_query') }}">
    <input type="text" name="query" placeholder="Enter your query">
    <button type="submit">Submit</button>
</form>
{% if products %}
    <h2>Top Products:</h2>
    <table>
        <tr>
            <th>Product ID</th>
            <th>Description</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product['Product ID'] }}</td>
            <td>{{ product['Description'] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
